@use "variables/colors" as colors;

.flash {
    display: flex;
    align-items: center;
    width: 600px;
    height: max-content;
    padding: 10px;
    border-radius: 5px;

    svg {
        path {
            fill: var(--text-color);
        }
    }

    &--info {
        background: colors.$blueberry-100;
    }

    &--warning {
        background: colors.$tangerine-100;
    }

    &--success {
        background: colors.$iguana-green-100;
    }

    &--error {
        background: colors.$cadmium-red-100;
    }

    &__info {
        svg {
            width: 50px;
            height: 50px;
        }
    }

    &__message {
        margin-right: auto;
        padding-inline: 15px;

        p {
            font-size: 20px;
        }
    }

    &__close {
        svg {
            width: 35px;
            height: 35px;
        }
    }
}
