.home-page {
    &__images {
        display: flex;
        margin-top: 100px;

        img {
            width: 300px;
            height: 300px;
            margin-inline: 40px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin-top: 100px;
    }
}
