.main-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__notifications {
        position: absolute;
        top: 40px;
        right: 20px;

        & > div {
            margin-bottom: 20px;
        }
    }
}
